<% 
    // noinspection JSUnresolvedVariable
    var options = htmlWebpackPlugin.options
%><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
    <title>Guess CSS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script><%= options.SCRIPT_PLACEHOLDER %></script>
    <style><%= options.STYLE_PLACEHOLDER %></style>
</head>
<body>
    <div id="<%= options.ROOT_EL_ID %>"><%= options.APP_PLACEHOLDER %></div>
</body>
</html>
