body {
    background-color: whitesmoke;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#app-root-div {
    padding: 6px 12px 10px;
    border-radius: .25em;

    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;

    & > :not(:last-child) {
        margin-top: 0;
        margin-bottom: 8px;
    }
}

.puzzler-top {
    display: flex;

    &>* {
        margin: 3px;
    }

    @h: 200px;

    .layout {
        width: 240px;
        height: @h;
        border: 1px solid #a0a0a0;
        border-radius: .25em;
    }

    .nav-puzzlers {
        width: 38px;
        height: @h + 2;
        line-height: @h + 2;
        text-align: center;
        font-size: 2em;

        &.active {
            cursor: pointer;

            background-color: #f5f5f5;
            color: #606060;
            transition: all .3s;

            &:hover {
                background-color: #e8e8e8;
                color: black;
            }

            &.next::before {
                content: "⟩";
            }

            &.prev::before {
                content: "⟨";
            }
        }
    }
}

.choices {
    display: flex;

    .choice {
        border: 1px solid white;
        border-radius: .25em;

        &.active {
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        &.correct {
            .answer-color(#e0ffe0, darkgreen);
        }

        &.incorrect {
            .answer-color(#ffe0e0, darkred);
        }

        .answer-color(@bg; @border) {
            background-color: @bg;
            border-color: @bg;
            transition: all .4s;

            &.user-choice {
                border-color: @border;
            }
        }

        &.correct::before {
            .answer-mark("✓", darkgreen);
        }

        &.incorrect::before {
            .answer-mark("✗", darkred);
        }

        .answer-mark(@content, @color) {
            float: right;
            margin: 10px;
            content: @content;
            color: @color;
        }

        pre {
            margin: 0;
            font-family: Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
            font-size: 12px;
        }

        .tag {
            color: #000080;
        }

        .attr-name {
            color: #0000ff;
        }

        .attr-value {
            color: #008000;
        }

        .operator {
            color: #008000;
        }

        .selector {
            color: #000080;
        }

        .decl-name {
            color: #000000;
        }

        .comment {
            color: #808080;
            font-style: italic;
        }

        .differing {
            font-weight: bold;
        }
    }
}
