.code {
    pre {
        margin: 0;
        font-family: Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
        font-size: 12px;
    }

    .text {
        color: #000000;
        background-color: #f2f2f2;
    }

    .tag {
        color: #0000c0;
    }

    .attr-name {
        color: #0000ff;
    }

    .attr-value {
        color: #008000;
    }

    .operator {
        color: #008000;
    }

    .selector {
        color: #000080;
    }

    .decl-name {
        color: #000000;
    }

    .comment {
        color: #808080;
        font-style: italic;
    }

    .differing {
        font-weight: bold;
    }
}
