iframe.puzzler-choice {
    display: block;
    width: 240px;
    height: 200px;
    border: 1px solid #a0a0a0;
    border-radius: .25em;
}

.choice {
    display: inline-block;
    cursor: pointer;
}

.choice.correct {
    background-color: #e0ffe0;
}

.choice.correct::before {
    content: "✓";
    color: darkgreen;
    float: right;
    margin: 10px;
}

.choice.incorrect {
    background-color: #ffe0e0;
}

.choice.incorrect::before {
    content: "✗";
    color: darkred;
    float: right;
    margin: 10px;
}

.choice>pre {
    margin: 0;
}

.choice .tag {
    color: #881280;
}

.choice .attr-name {
    color: #994600;
}

.choice .attr-value {
    color: #191aa7;
}

.choice .operator {
    color: #a894a6;
}

.choice .decl-name {
    color: #c80000;
}

.choice .differing {
    font-weight: bold;
}
